
.car-card__image-box{

}

.car-card__img{
    width: 100%;
}

.car-card__price-box{
    text-align: center;
    margin-bottom: 20px;
}

.car-card__price{
    font-size: 30px;
    color: #DBDBDB;
}

.car-card__info{
    width: 33.3%;
    text-align: center;
    margin-bottom: 30px;
}

.car-card__button-box{
    text-align: center;
}
.car-card__icon{
    width: 50%;
    color: white;
}

.car-card__info-box{
    display: flex;
    flex-wrap: wrap;
}

.car-card__text{
    color: #DBDBDB;
}

.customer{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    background-color: #1262b5;
    margin-bottom: 5px;
    color: white;
    font-size: 13px;
    padding: 10px;
    position: relative;
    p{
        margin-bottom: 3px;
    }
    &__name{
        font-size: 25px;
        color: #D2C166;
    }

    &__details-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 17px;
    }

    
}

.apartment-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 1px 10px 8px #888888;
    margin-bottom: 20px;

    // div{
    //     margin-bottom: 5px;
    // }

    &__image-box{
        height: 150px;
        background-image: url("../img/demo-resort.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__room-image-box{
        height: 180px;
        background-image: url("../img/demo-apartment.jpg");
    }

    &__box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__resort-details-box{
        border: 1px solid black;
        padding: 2px 10px;
    }

    &__info{
        padding: 10px;
    }

    &__icon{
        height: 15px;
        margin-right: 5px;
    }

    &__location-box, &__apartment-amount-box{
        display: flex;
        align-items: center;
    }

    &__button-box{
        position: relative;
    }

    &__btn{
        background-color: rgba(14, 74, 163, 0.7);
        color: white;
        font-size: 18px;
        padding: 6px 20px;
        height: auto;
    }

    &__apartment-beds{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
}

