
.page-header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
   
}

.page-header{
    margin: 0;
    border: 0;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: #D2C166;
    margin: 10px;
}

.header{
    
}

.top-bar{
   
  
}
.back-btn{
    position: absolute;
    top: 0px;
    left: 5px;
}
.back-btn__icon{

}

