
.page-header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.page-header{
    margin: 0;
    border: 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #D2C166;
}

.header{
    height: 25px;
}