


.page-header{
    margin: 0;
    border: 0;
    font-size: 20px;
    
    text-align: center;
    color: white;
    margin: 10px;
}

.page-header-resort-list{
    color: black;
}

.header{
    
}

.top-bar{
   
  
}
.back-btn{
    position: absolute;
    top: 0px;
    left: 5px;
}
.back-btn__icon{

}

