.back-btn__icon{
    width: 40px;
    margin: 10px;
}

.btn{
    padding: 0 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid;
    //border-radius: 20px;
    font-size: 40px;
    height: auto;
    background-color: transparent;
    color: white;
}
.btn-wide{
    width: 100%;
}
.btn-form{
    font-size: 23px;
}

.add-car, .add-customer{
    background-color:rgba(4, 28, 241, 0.54);
    color: white;
    border: 1px solid white;
    
}
.add-car:hover, .add-customer:hover{
    background-color:rgba(4, 28, 241, 0.11);

}

#button-page4, #button-page3, #button-page2, #button-page2-apps{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.829);
}

#button-page4{
    background-image: url("../img/contract.jpg");
}
   
#button-page2{
    background-image: url("../img/addcar.jpg");
    &-apps{
        background-image: url("../img/apartment.jpg");
    }
}
#button-page3{
    background-image: url("../img/addCustomer.jpg");

}

#search-resort{
    width: 90%;
    height: 35px;
    margin: 10px;
    background-color: red;
    color: white;
    font-size: 15px;

}

#apartmentRentalForm .btn-form-apartment{
    padding: 2px 20px;
    font-weight: 100;
    border: 1px solid white;
    margin: 10px;
}
//da