.form-block{
    display: flex;width: 100%;
    align-items: center;
     justify-content: space-between;
     font-weight: 200;
     margin-bottom: 10px;
     color: white;
     font-size: 18px;
    }
    
    .form-group{
        margin-bottom: 30px;
    }

    .form-block__c-full{
        flex-grow: 1;
    }
    
    
    .form-chapter{
        padding: 5px;
        border: 1px solid white;
        margin: 10px 0px;
    }

    
input{
    border-radius: 10px ;
    margin-right: 20px;

}

input::placeholder{
    color: white;
}


.form{
    border: none;
    //background-color: #1262b5;
    border-radius: 10px;
    padding: 30px 20px;
}




input{
    background-color: white;
    height: 25px;
    color: black;
    border: none;

}

.content{
    margin: 10px;
}



.requirements{
    margin: 7px 0;
}

.requirements__requirement{
    display: inline-block;
    background-color: #8E969D;
    color: #DBDBDB;
    padding: 3px;
    border-radius: 10px;
    margin: 2px 4px;
    font-size: 14px;
}

#remove{
    color: #3E3E3E;
    font-size: 11px;
}

.dropDown{
    margin-right: 20px;
    height: 25px;
    border-radius: 5px;
    background: none;
    color: white;
    option{
        background-color: rgba(14, 74, 163, 0.7);
    }
}

#apartmentRentalForm{
    background: none;
}

input{
    
    //height: 25px;
    color: white;
    border: none;
    background: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.apartmentRental .btn{
    border: none;
}

.form-block-days{
    font-size: 14px;
    text-align: center;
}

