.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-menu{
    padding: 0;
}
.menu__item{

    list-style-type: none;
    margin: 10px 0;
    font-size: 18px;
}

.menu__item-link{
    text-decoration: none;
    color: black;
    font-size: 22px;
    border: solid black 2px;
    border-radius: 20px;
    padding: 5px;
}

.main-menu__link{
    text-decoration: none;
    color: black;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 100px;
    width: 90%;
    background-color: lightblue;
    padding: 0 10px;

}

.home-menu__link{
    color: white;
    justify-content: center;
}

.home-menu__item{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.301);
}

#car-link{
    background-image: url("../img/carbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#apartment-link{
    background-image: url("../img/apartmentbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-menu__link{
    height: 40vh;
}

.svg{
    height: 60px;
}