.menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-menu{
    padding: 0;
}
.menu__item{

    list-style-type: none;
    font-size: 22px;
    text-align: center;
    
    //transform: translate(0%, 45%);
}

.menu__item-link{
    text-decoration: none;
    color: black;
    font-size: 22px;
    border: solid black 2px;
    border-radius: 20px;
    padding: 5px;
}

.main-menu__link{
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    //margin: 10px;
    height: 100px;
    width: 100%;
    background-color: lightblue;
   

}

.main-menu__link-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(14, 74, 163, 0.7);
    width: 100%;
    height: 100%;
}

.main-menu__icon{
    height: 100px;
    filter: brightness(0) invert(1);
    margin: 10px;
}

.home-menu__link{
    color: white;
    justify-content: center;
    height: 45vh;
    width: 100%;
}

.home-menu__item{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    //background-color: rgba(0, 0, 0, 0.301);
}

#car-link{
    background-image: url("../img/carbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#apartment-link{
    background-image: url("../img/apartmentbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.svg{
    height: 60px;
}