.u-inline-block{
    display: inline;
}

.ui-input-text{
    border:none ;
    background-color: transparent ;
}

.filter-white{
    filter: invert(98%) sepia(0%) saturate(5261%) hue-rotate(250deg) brightness(120%) contrast(72%);
}
.ui-dark-lens{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}